<script type="text/javascript" src="~/Scripts/CRUDPais.js"></script>

@{
    ViewBag.Title = "Países";
}

<h2>Países:</h2>

<div ng-app="myApp">
    <div ng-controller="myCtrl" ng-init="GetAll()" class="divList">
        <input ng-model="searchNombre" type="text" class="form-control searchInput" placeholder="Nombre" />
        <div class="botonesSC">
            <button type="button" class="btn buttons" title="Buscar" ng-click="GetAll()">
                <img src="~/Content/Images/search.svg" title="Buscar" style="width:24px;height:24px;" />
            </button>
            <button type="button" class="btn buttons" title="Agregar" data-toggle="modal" data-target="#myModal" ng-click="ClearTextBox()">
                <img src="~/Content/Images/add.svg" title="Agregar" style="width:24px;height:24px;" />
            </button>
            <button type="button" class="btn buttons" title="Exportar" ng-click="Export()">
                <img src="~/Content/Images/excel.png" title="Exportar" style="width:24px;height:24px;" />
            </button>
        </div>

        <div class="table-responsive table-Item" style="margin-top: 20px;">
            <div id="divLoading" data-ng-show="loading"></div>
            <table cellpadding="12" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="tableHeader" style="width: 77px;">
                            <b>Acción</b>
                        </th>
                        <th ng-click="Sort('pai_codigo')" class="tableHeader codigo">
                            <b>Código</b>
                            <span class="glyphicon sort-icon" ng-show="sortKey=='pai_codigo'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="Sort('pai_nombre')" class="tableHeader">
                            <b>Nombre</b>
                            <span class="glyphicon sort-icon" ng-show="sortKey=='pai_nombre'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody class="fuenteBody">
                    <tr dir-paginate="Pais in paises | orderBy: sortKey:reverse | itemsPerPage:5">
                        <td style="text-align:center;">
                            <a href="#" ng-click="Get(Pais)">
                                <img src='@Url.Content("~/Content/Images/edit.svg")' style="width:24px;height:24px;" />
                            </a>
                            |
                            <a href='#' ng-click="Delete(Pais)">
                                <img src='@Url.Content("~/Content/Images/delete.svg")' style="width:24px;height:24px;" />
                            </a>
                        </td>
                        <td style="text-align:center;">
                            {{Pais.pai_codigo}}
                        </td>
                        <td>
                            {{Pais.pai_nombre}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--Paginador-->
        <div style="text-align:center;">
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
        <!--Paginador-->

        <!--Arranca el Modal para hacer todo en index.cshtml-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dissmiss="modal" ng-click="DismissModal()">x</button>
                        <h4 class="modal-title" id="myModalLabel">País</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-2">Código:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputCodigo" placeholder="Código"
                                           ng-model="CodigoPais" ng-required="true" ng-maxlength="3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Nombre:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputNombre" placeholder="Nombre"
                                           ng-model="NombrePais" ng-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="btnSave" class="btn btn-primary" value="Agregar" ng-click="Add()" />
                        <button type="button" class="btn btn-default" data-dissmiss="modal" ng-click="DismissModal()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin Modal-->
    </div>
</div>
