body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 300px;
}*/

.buttonLogin a {
    float: right;
    color: #999999;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

.buttonLogin a:hover {
    color: #ffffff;
    background-color: transparent;
}

#searchButton {
    background: white url(/Content/Images/search.png) left no-repeat;
    padding-left: 17px;
    border: none;
}

#searchButton {
    background: white url(/Content/Images/search.png) right no-repeat;
    padding-right: 17px;
    border: none;
}

.searchInput {
    float: left;
    width: 300px;
}

#ddlPais {
    float: right;
    margin-right: 20px;
    width: 250px;
}

.ddlProvinciaC {
    float: right;
    margin-right: 20px;
    margin-top: -36px;
    width: 250px;
}

.ddlPaisC {
    float: right;
    margin-right: 275px;
    width: 250px;
}

.tableHeader {
    text-align: center;
    background-color: #428bca;
    color: white;
}

.codigo {
    width: 200px;
}

.pagination-container {
    width: 100%;
    text-align: center;
}

.buttons {
    margin-top: -2px;
    background-color: transparent;
    margin-left: 1px;
}

.lupita {
    margin-top: 5px;
}

.add {
    margin-left: 48px;
    margin-top: -35px;
    background-color: transparent;
}

.export {
    background-color: transparent;
    margin-top: -35px;
}

#divLoading {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #666;
    background-image: url('Images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

/*Ordenador*/
.sortorder:after {
    content: '\25b2';
}

.sortorder.descending:after {
    content: '\25bc';
}

@media (max-width: 1199px) {
    .ddlProvinciaC {
        float: left;
        width: 300px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .ddlPaisC {
        float: left;
        width: 300px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
}

@media (max-width: 991px) {
    #ddlPais {
        float: left;
        width: 300px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
}

@media (max-width: 768px) {
    .buttonLogin a {
        float: left;
    }
}

@media (max-width: 600px) {
    .codigo {
        width: 65px;
    }
}

@media (max-width: 520px) {
    .searchInput {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }

    .botonesSC {
        text-align: center;
    }

    #ddlPais {
        width: 100%;
    }

    .ddlProvinciaC {
        width: 100%;
    }

    .ddlPaisC {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .fuenteBody {
        font-size: 13px;
    }
}
